*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777777;
}

.heading-primary {
  color: #FFFAFA;
  text-shadow: 0px 0px 1rem;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-size: 8rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  animation: moveInLeft 2s ease-out;
}
.heading-primary--sub {
  text-transform: uppercase;
  display: block;
  font-size: 4rem;
  font-weight: 700;
  animation: moveInRight 2s ease-out;
}

.heading-secondary {
  color: #17141F;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  transition: all 0.3s;
}

.heading-tertiary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  background-image: linear-gradient(to right, #47953B, #223921);
  -webkit-background-clip: text;
  color: transparent;
}

.heading-quartiary {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFB700;
  display: inline-block;
}

.paragraph {
  font-size: 1.8rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.composition {
  padding: 2.5rem;
  height: 50rem;
  width: 50rem;
  background: linear-gradient(to right bottom, #123524 0%, #123524 7%, #123524 7%, #47953b 15%, #123524 30%, #223921 50%, #123524 70%, #47953b 85%, #123524 100%);
}
.composition__content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
}
.composition__content__photo {
  transform: translateX(-20rem) scaleX(-1);
  max-height: 100%;
}

.service-box {
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0.5rem 2rem;
}
.service-box__text {
  height: 19rem;
  padding: 2rem;
  background-color: #FFFFFF;
}
.service-box__text--main {
  color: #333333;
  font-weight: 900;
  padding-bottom: 1.5rem;
}
.service-box__text--sub {
  font-size: 1.4rem;
}
.service-box__picture {
  height: 30rem;
  background-image: url(../img/nat-3.jpg);
  background-size: cover;
  background-position: right;
}
.service-box__detail {
  display: block;
  background-color: #123524;
  height: 3px;
  width: 4rem;
}

.info-card {
  height: 60rem;
  background-color: #FFFFFF;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.info-card--left {
  width: 50%;
  height: 100%;
  display: inline-block;
  transform: translateY(-10rem);
  padding-left: 2rem;
}
.info-card--right {
  width: 49.5%;
  height: 100%;
  background-image: url(../img/nat-4.jpg);
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.info-card__heading {
  text-align: center;
  color: #000000;
  margin-bottom: 2rem;
}

.info-text--main {
  border: solid 4px;
  border-radius: 6px;
  display: inline-block;
  font-size: 2.3rem;
  font-weight: 700;
  color: #17141F;
  line-height: 3rem;
  padding: 0 5px;
  margin-bottom: 1.5rem;
}
.info-text--main--1 {
  border-color: #47953B;
}
.info-text--main--2 {
  border-color: #FEDF00;
}
.info-text--main--3 {
  border-color: #2C3694;
}
.info-text--sub {
  font-size: 2rem;
  color: #17141F;
  margin-left: 0.5rem;
}
.info-text__list {
  list-style: none;
  width: 80%;
  padding: 1rem 3.5rem;
}
.info-text:not(:last-child) {
  margin-bottom: 2rem;
}

.info-slide {
  height: 60rem;
  background-color: #123524;
}
.info-slide--left {
  width: 50%;
  height: 100%;
  display: inline-block;
  transform: translateY(-15rem);
  padding-left: 2rem;
}
.info-slide--right {
  width: 49.5%;
  height: 100%;
  background-image: url(../img/nat-4.jpg);
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.info-slide__heading {
  text-align: center;
  color: #FFFAFA;
  margin-bottom: 4rem;
}

.info-text-2--main {
  border: solid 4px;
  border-radius: 6px;
  display: inline-block;
  font-size: 2.3rem;
  font-weight: 700;
  color: #FFFAFA;
  line-height: 3rem;
  padding: 0 5px;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
}
.info-text-2--main--1 {
  border-color: #47953B;
}
.info-text-2--main--2 {
  border-color: #FEDF00;
}
.info-text-2--main--3 {
  border-color: #2C3694;
}
.info-text-2--sub {
  font-size: 2rem;
  color: #FFFAFA;
  margin-left: 3.5rem;
}
.info-text-2__list {
  list-style: none;
  width: 80%;
  padding: 1rem 3.5rem;
}
.info-text-2:not(:last-child) {
  margin-bottom: 2rem;
}

.postal {
  width: 100%;
  height: 50rem;
}
.postal__content {
  padding: 1rem;
  background: linear-gradient(to right bottom, #123524 0%, #123524 7%, #ffb700 7%, #ffb700 30%, #123524 30%, #123524 65%, #ffb700 65%, #ffb700 85%, #123524 85%, #123524 100%);
  /*background: linear-gradient(
      135deg,
      rgba($color-primary, 1)0%,
      rgba($color-primary, 1)2.5%,
      rgba($color-secondary, 1)2.5%,
      rgba($color-secondary, 1)5%,
      rgba($color-primary, 1)5%,
      rgba($color-primary, 1)7.5%,
      rgba($color-secondary, 1)7.5%,
      rgba($color-secondary, 1)10%,
      rgba($color-primary, 1)10%,
      rgba($color-primary, 1)12.5%,
      rgba($color-secondary, 1)12.5%,
      rgba($color-secondary, 1)15%,
      rgba($color-primary, 1)15%,
      rgba($color-primary, 1)17.5%,
      rgba($color-secondary, 1)17.5%,
      rgba($color-secondary, 1)20%,
      rgba($color-primary, 1)20%,
      rgba($color-primary, 1)22.5%,
      rgba($color-secondary, 1)22.5%,
      rgba($color-secondary, 1)25%,
      rgba($color-primary, 1)25%,
      rgba($color-primary, 1)27.5%,
      rgba($color-secondary, 1)27.5%,
      rgba($color-secondary, 1)30%,
      rgba($color-primary, 1)30%,
      rgba($color-primary, 1)32.5%,
      rgba($color-secondary, 1)32.5%,
      rgba($color-secondary, 1)35%,
      rgba($color-primary, 1)35%,
      rgba($color-primary, 1)37.5%,
      rgba($color-secondary, 1)37.5%,
      rgba($color-secondary, 1)40%,
      rgba($color-primary, 1)40%,
      rgba($color-primary, 1)42.5%,
      rgba($color-secondary, 1)42.5%,
      rgba($color-secondary, 1)45%,
      rgba($color-primary, 1)45%,
      rgba($color-primary, 1)47.5%,
      rgba($color-secondary, 1)47.5%,
      rgba($color-secondary, 1)50%,
      rgba($color-primary, 1)50%,
      rgba($color-primary, 1)52.5%,
      rgba($color-secondary, 1)52.5%,
      rgba($color-secondary, 1)55%,
      rgba($color-primary, 1)55%,
      rgba($color-primary, 1)57.5%,
      rgba($color-secondary, 1)57.5%,
      rgba($color-secondary, 1)60%,
      rgba($color-primary, 1)60%,
      rgba($color-primary, 1)62.5%,
      rgba($color-secondary, 1)62.5%,
      rgba($color-secondary, 1)65%,
      rgba($color-primary, 1)65%,
      rgba($color-primary, 1)67.5%,
      rgba($color-secondary, 1)67.5%,
      rgba($color-secondary, 1)70%,
      rgba($color-primary, 1)70%,
      rgba($color-primary, 1)72.5%,
      rgba($color-secondary, 1)72.5%,
      rgba($color-secondary, 1)75%,
      rgba($color-primary, 1)75%,
      rgba($color-primary, 1)77.5%,
      rgba($color-secondary, 1)77.5%,
      rgba($color-secondary, 1)80%,
      rgba($color-primary, 1)80%,
      rgba($color-primary, 1)82.5%,
      rgba($color-secondary, 1)82.5%,
      rgba($color-secondary, 1)85%,
      rgba($color-primary, 1)85%,
      rgba($color-primary, 1)87.5%,
      rgba($color-secondary, 1)87.5%,
      rgba($color-secondary, 1)90%,
      rgba($color-primary, 1)90%,
      rgba($color-primary, 1)92.5%,
      rgba($color-secondary, 1)92.5%,
      rgba($color-secondary, 1)95%,
      rgba($color-primary, 1)95%,
      rgba($color-primary, 1)97.5%,
      rgba($color-secondary, 1)97.5%,
      rgba($color-secondary, 1)100%,
  );*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50rem;
  width: 114rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: table;
  overflow: hidden;
}
.postal__left {
  width: 40%;
  display: table-cell;
  background-image: url(../img/nat-2.jpg);
  background-position: right;
  background-size: cover;
}
.postal__right {
  background-color: #FFFFFF;
  width: 60%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}

.map {
  height: 55rem;
  width: 100%;
}

.contact-info {
  height: 60rem;
  background-image: linear-gradient(105deg, rgba(255, 250, 250, 0.9) 0%, rgba(255, 250, 250, 0.9) 50%, transparent 50%), url(../img/nat-5.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  background-position: right bottom;
}

.header {
  height: 80vh;
  background-image: linear-gradient(to right, rgba(42, 98, 143, 0.8), rgba(42, 98, 143, 0.2)), url(../img/nat-1.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
}
.header__text-box {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 3.5rem;
}
.row .col-1-of-2 {
  width: calc((100% - 3.5rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 3.5rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * 3.5rem) / 3 + 3.5rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 3.5rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * (100% - 3 * 3.5rem) / 4 + 3.5rem);
}
.row .col-3-of-4 {
  width: calc(3 * (100% - 3 * 3.5rem) / 4 + 2 * 3.5rem);
}

.section-about {
  background-color: #FFFFFF;
  padding: 20rem 0;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
.section-about__content {
  background-color: #FFFFFF;
  border: 1px solid #123524;
  margin: auto;
  width: 50%;
  overflow: hidden;
  display: block;
}
.section-about__content--left {
  width: 49%;
  display: inline-block;
}
.section-about__content--right {
  width: 49%;
  display: inline-block;
  transform: translateY(-20rem);
}

.section-services {
  background-color: #FFFFFF;
  padding: 20rem 0;
}

.section-coverage {
  background-color: #FFFFFF;
  padding: 20rem 0;
}

.section-divider {
  height: 20rem;
}
.section-divider__logo-box {
  height: 20rem;
  text-align: center;
}
.section-divider__logo {
  width: 23.5rem;
  transform: translateY(110%);
}
.section-divider--1 {
  background-color: #FFB700;
}
.section-divider--2 {
  background-color: #123524;
}

.section-choice {
  height: 70rem;
  background-color: pink;
}

.section-map {
  padding: 20rem 0;
  background-color: #2C3694;
}

.section-contact {
  padding: 15rem 0;
}

/*# sourceMappingURL=style.css.map */
