*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveInLeftLarge {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777777;
}

.heading-primary {
  color: #FFFAFA;
  text-shadow: 0px 0px 1rem;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-size: 8rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  animation: moveInLeft 2s ease-out;
}
.heading-primary--sub {
  text-transform: uppercase;
  display: block;
  font-size: 4rem;
  font-weight: 700;
  animation: moveInRight 2s ease-out;
}

.heading-secondary {
  color: #17141F;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  transition: all 0.3s;
}

.heading-tertiary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  background-image: linear-gradient(to right, #47953B, #223921);
  -webkit-background-clip: text;
  color: transparent;
}

.heading-quartiary {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFB700;
  display: inline-block;
}

.heading-choice {
  font-size: 8rem;
  color: #FFFFFF;
  text-shadow: 0px 0px 1rem;
}

.paragraph {
  font-size: 1.8rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.composition {
  padding: 2.5rem;
  height: 50rem;
  width: 50rem;
  background: linear-gradient(to right bottom, #123524 0%, #123524 7%, #123524 7%, #47953b 15%, #123524 30%, #223921 50%, #123524 70%, #47953b 85%, #123524 100%);
}
.composition__content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
}
.composition__content__photo {
  transform: translateX(-20rem) scaleX(-1);
  max-height: 100%;
}

.service-box {
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0.5rem 2rem;
}
.service-box__text {
  height: 19rem;
  padding: 2rem;
  background-color: #FFFFFF;
}
.service-box__text--main {
  color: #333333;
  font-weight: 900;
  padding-bottom: 1.5rem;
}
.service-box__text--sub {
  font-size: 1.4rem;
}
.service-box__picture {
  height: 30rem;
  background-image: url(../img/nat-3.jpg);
  background-size: cover;
  background-position: right;
}
.service-box__detail {
  display: block;
  background-color: #123524;
  height: 3px;
  width: 4rem;
}

.feature-box {
  height: 12rem;
  padding: 2rem;
  box-shadow: 0 0.5rem 2rem;
  background-image: linear-gradient(120deg, #123524 0%, #123524 28%, transparent 28%, transparent 100%);
}
.feature-box__icon {
  width: 30%;
  font-size: 6rem;
  text-align: left;
  display: inline-block;
  color: #FFB700;
  transform: translate(10px, -2px);
}
.feature-box__text {
  width: 69%;
  font-size: 2rem;
  text-align: justify;
  display: inline-block;
  transform: translateY(-5px);
}

.info-card {
  height: 60rem;
  background-color: #FFFFFF;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.info-card--left {
  width: 50%;
  height: 100%;
  display: inline-block;
  transform: translateY(-10rem);
  padding-left: 2rem;
}
.info-card--right {
  width: 49.5%;
  height: 100%;
  background-image: url(../img/nat-4.jpg);
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.info-card__heading {
  text-align: center;
  color: #000000;
  margin-bottom: 2rem;
}

.info-text--main {
  border: solid 4px;
  border-radius: 6px;
  display: inline-block;
  font-size: 2.3rem;
  font-weight: 700;
  color: #17141F;
  line-height: 3rem;
  padding: 0 5px;
  margin-bottom: 1.5rem;
}
.info-text--main--1 {
  border-color: #47953B;
}
.info-text--main--2 {
  border-color: #FEDF00;
}
.info-text--main--3 {
  border-color: #2C3694;
}
.info-text--sub {
  font-size: 2rem;
  color: #17141F;
  margin-left: 0.5rem;
}
.info-text__list {
  list-style: none;
  width: 80%;
  padding: 1rem 3.5rem;
}
.info-text:not(:last-child) {
  margin-bottom: 2rem;
}

.info-slide {
  height: 70rem;
  background-color: #123524;
}
.info-slide--left {
  width: 50%;
  height: 100%;
  display: inline-block;
  transform: translateY(-18rem);
  padding-left: 2rem;
}
.info-slide--right {
  width: 49.5%;
  height: 100%;
  background-color: #FFFFFF;
  background-image: url(../img/nat-4.jpg);
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.info-slide__heading {
  text-align: center;
  color: #FFFAFA;
  margin-bottom: 4rem;
}

.info-text-2 {
  margin-left: 18rem;
}
.info-text-2--main {
  border: solid 4px;
  border-radius: 6px;
  display: inline-block;
  font-size: 2.3rem;
  font-weight: 700;
  color: #FFFAFA;
  line-height: 3rem;
  padding: 0 5px;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
}
.info-text-2--main--1 {
  border-color: #47953B;
}
.info-text-2--main--2 {
  border-color: #FEDF00;
}
.info-text-2--main--3 {
  border-color: #2C3694;
}
.info-text-2--sub {
  font-size: 2rem;
  color: #FFFAFA;
  margin-left: 3rem;
}
.info-text-2__list {
  list-style: none;
  width: 80%;
  padding: 1rem 3.5rem;
}
.info-text-2:not(:last-child) {
  margin-bottom: 2rem;
}

.postal {
  animation: moveInLeftLarge 1.5s ease-out;
  width: 100%;
  height: 50rem;
}
.postal__content {
  padding: 1rem;
  /*background: linear-gradient(
      to right bottom,
      rgba($color-primary, 1)0%,
      rgba($color-primary, 1)7%,
      rgba($color-secondary, 1)7%,
      rgba($color-secondary, 1)30%,
      rgba($color-primary, 1)30%,
      rgba($color-primary, 1)65%,
      rgba($color-secondary, 1)65%,
      rgba($color-secondary, 1)85%,
      rgba($color-primary, 1)85%,
      rgba($color-primary, 1)100%
  );*/
  background: linear-gradient(135deg, #123524 0%, #123524 2.5%, #ffb700 2.5%, #ffb700 5%, #123524 5%, #123524 7.5%, #ffb700 7.5%, #ffb700 10%, #123524 10%, #123524 12.5%, #ffb700 12.5%, #ffb700 15%, #123524 15%, #123524 17.5%, #ffb700 17.5%, #ffb700 20%, #123524 20%, #123524 22.5%, #ffb700 22.5%, #ffb700 25%, #123524 25%, #123524 27.5%, #ffb700 27.5%, #ffb700 30%, #123524 30%, #123524 32.5%, #ffb700 32.5%, #ffb700 35%, #123524 35%, #123524 37.5%, #ffb700 37.5%, #ffb700 40%, #123524 40%, #123524 42.5%, #ffb700 42.5%, #ffb700 45%, #123524 45%, #123524 47.5%, #ffb700 47.5%, #ffb700 50%, #123524 50%, #123524 52.5%, #ffb700 52.5%, #ffb700 55%, #123524 55%, #123524 57.5%, #ffb700 57.5%, #ffb700 60%, #123524 60%, #123524 62.5%, #ffb700 62.5%, #ffb700 65%, #123524 65%, #123524 67.5%, #ffb700 67.5%, #ffb700 70%, #123524 70%, #123524 72.5%, #ffb700 72.5%, #ffb700 75%, #123524 75%, #123524 77.5%, #ffb700 77.5%, #ffb700 80%, #123524 80%, #123524 82.5%, #ffb700 82.5%, #ffb700 85%, #123524 85%, #123524 87.5%, #ffb700 87.5%, #ffb700 90%, #123524 90%, #123524 92.5%, #ffb700 92.5%, #ffb700 95%, #123524 95%, #123524 97.5%, #ffb700 97.5%, #ffb700 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50rem;
  width: 114rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.9);
  border-radius: 3px;
  display: table;
  overflow: hidden;
}
.postal__left {
  width: 40%;
  display: table-cell;
  background-image: url(../img/nat-2.jpg);
  background-position: right;
  background-size: cover;
}
.postal__right {
  background-color: #FFFFFF;
  width: 60%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}

.map {
  height: 55rem;
  width: 100%;
}

.contact-info {
  height: 60rem;
  background-image: linear-gradient(105deg, rgba(255, 250, 250, 0.9) 0%, rgba(255, 250, 250, 0.9) 50%, rgba(18, 53, 36, 0.5) 50%), url(../img/nat-5.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  background-position: right bottom;
  padding: 4rem 6rem;
}
.contact-info__left {
  width: 55%;
}
.contact-info__header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  color: #123524;
}
.contact-info__text {
  font-size: 2rem;
  color: #000000;
}
.contact-info__contact {
  margin-bottom: 1rem;
}
.contact-info__hour--main {
  font-size: 2.4rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.contact-info__hour--sub {
  margin-bottom: 1rem;
}

.header {
  height: 80vh;
  background-image: linear-gradient(to right, rgba(42, 98, 143, 0.7), rgba(18, 53, 36, 0.2)), url(../img/nat-1.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
}
.header__text-box {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 4rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 3.5rem;
}
.row .col-1-of-2 {
  width: calc((100% - 3.5rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 3.5rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * 3.5rem) / 3 + 3.5rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 3.5rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * (100% - 3 * 3.5rem) / 4 + 3.5rem);
}
.row .col-3-of-4 {
  width: calc(3 * (100% - 3 * 3.5rem) / 4 + 2 * 3.5rem);
}

.footer {
  background-color: #333333;
  padding: 15rem 0;
  font-size: 1.4rem;
  color: #F7F7F7;
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}
.footer__logo {
  width: 40rem;
  height: auto;
}
.footer__navigation {
  border-top: 1px solid #777777;
  padding-top: 2rem;
  display: inline-block;
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__link:link, .footer__link:visited {
  color: #F7F7F7;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
  background-color: #333333;
}
.footer__link:hover, .footer__link:active {
  color: #FFB700;
  box-shadow: 0 1rem 2rem rgba(23, 20, 31, 0.4);
  transform: rotate(5deg) scale(1.3);
}
.footer__link--rdr:link, .footer__link--rdr:visited {
  color: #F7F7F7;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
  background-color: #333333;
}
.footer__link--rdr:hover, .footer__link--rdr:active {
  color: #b3064c;
  box-shadow: 0 1rem 2rem rgba(23, 20, 31, 0.4);
  transform: rotate(5deg) scale(1.3);
}
.footer__copyright {
  text-align: center;
  border-top: 1px solid #777777;
  padding-top: 2rem;
  width: 80%;
  float: right;
}

.section-about {
  background-color: #161525;
  background-size: cover;
  padding: 17.5rem 0;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
.section-about__content {
  background-color: #FFFFFF;
  border: 1px solid #123524;
  margin: auto;
  width: 50%;
  overflow: hidden;
  display: block;
}
.section-about__content--left {
  width: 49%;
  display: inline-block;
}
.section-about__content--right {
  width: 49%;
  display: inline-block;
  transform: translateY(-20rem);
}

.section-services {
  background-color: #FFFFFF;
  padding: 15rem 0;
}

.section-coverage {
  background-image: linear-gradient(135deg, #2c3694 0%, #161525 7%, white 7%, white 93%, #161525 93%, #2c3694 100%);
  padding: 20rem 0;
}

.section-divider {
  height: 20rem;
}
.section-divider__logo-box {
  height: 20rem;
  text-align: center;
}
.section-divider__logo {
  width: 23.5rem;
  transform: translateY(110%);
}
.section-divider--1 {
  background-color: #FFB700;
}
.section-divider--2 {
  background-color: #123524;
}

.section-clip {
  height: 2px;
  width: 50%;
  background-color: #123524;
  transform: translate(50%, -30px);
  margin-top: 10rem;
  margin-bottom: 5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.8);
}

.section-choice {
  height: 70rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.85) 40%, rgba(0, 0, 0, 0.95) 50%, rgba(255, 255, 255, 0.85) 60%, rgba(0, 0, 0, 0.65) 100%), url(../img/nat-7.jpg);
}
.section-choice__text {
  text-align: center;
  text-transform: uppercase;
  padding: 22rem 0 0 0;
}
.section-map {
  background-color: #161525;
  padding: 7rem 0;
}

.section-contact {
  padding: 20rem 0;
  background-image: linear-gradient(to right, rgba(18, 53, 36, 0.8), rgba(18, 53, 36, 0.8)), url(../img/nat-5.jpg);
  background-size: cover;
  background-position: right bottom;
}

/*# sourceMappingURL=style.css.map */
