*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777777;
}

.heading-primary {
  color: #FFFAFA;
  text-shadow: 0px 0px 1rem;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-size: 8rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  animation: moveInLeft 2s ease-out;
}
.heading-primary--sub {
  text-transform: uppercase;
  display: block;
  font-size: 4rem;
  font-weight: 700;
  animation: moveInRight 2s ease-out;
}

.heading-secondary {
  color: #F4E04D;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  transition: all 0.3s;
}

.heading-tertiary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  background-image: linear-gradient(to right, #47953B, #223921);
  -webkit-background-clip: text;
  color: transparent;
}

.heading-quartiary {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #17141F;
  display: inline-block;
}

.paragraph {
  font-size: 1.8rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.composition {
  padding: 2.5rem;
  height: 50rem;
  width: 50rem;
  background: linear-gradient(to right bottom, #123524 0%, #123524 7%, #123524 7%, #47953b 15%, #123524 30%, #223921 50%, #123524 70%, #47953b 85%, #123524 100%);
}
.composition__content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
}
.composition__content__photo {
  transform: translateX(-20rem) scaleX(-1);
  max-height: 100%;
}

.service-box {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0.5rem 2rem;
}
.service-box__heading {
  padding: 10px 0;
  background-color: #2A628F;
}
.service-box__picture {
  height: 30rem;
  background-image: url(../img/nat-3.jpg);
  background-size: cover;
  background-position: right;
}

.info-card {
  height: 60rem;
  background-color: #FFFFFF;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.info-card--left {
  width: 50%;
  height: 100%;
  display: inline-block;
  transform: translateY(-10rem);
  padding-left: 2rem;
}
.info-card--right {
  width: 49.5%;
  height: 100%;
  background-image: url(../img/nat-4.jpg);
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.info-card__heading {
  text-align: center;
  color: #000000;
  margin-bottom: 2rem;
}

.info-text--main {
  border: solid 4px;
  border-radius: 12px;
  display: inline-block;
  font-size: 2.3rem;
  font-weight: 700;
  color: #17141F;
  line-height: 3rem;
  padding: 0 5px;
  margin-bottom: 1.5rem;
}
.info-text--main--1 {
  border-color: #47953B;
}
.info-text--main--2 {
  border-color: #FEDF00;
}
.info-text--main--3 {
  border-color: #2C3694;
}
.info-text--sub {
  font-size: 2rem;
  color: #17141F;
  margin-left: 0.5rem;
}
.info-text__list {
  list-style: none;
  width: 80%;
  padding: 1rem 3.5rem;
}
.info-text:not(:last-child) {
  margin-bottom: 2rem;
}

.header {
  height: 80vh;
  background-image: linear-gradient(to right, rgba(42, 98, 143, 0.8), rgba(42, 98, 143, 0.2)), url(../img/nat-1.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
}
.header__text-box {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * (100% - 3 * 6rem) / 4 + 2 * 6rem);
}

.section-about {
  background-color: #FFFFFF;
  padding: 20rem 0;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
.section-about__content {
  background-color: #FFFFFF;
  border: 1px solid #123524;
  margin: auto;
  width: 50%;
  overflow: hidden;
  display: block;
}
.section-about__content--left {
  width: 49%;
  display: inline-block;
}
.section-about__content--right {
  width: 49%;
  display: inline-block;
  transform: translateY(-20rem);
}

.section-services {
  background-color: #FFFFFF;
  padding: 20rem 0;
}

.section-coverage {
  background-color: #FFFFFF;
  padding: 20rem 0;
}

.section-divider {
  height: 20rem;
}
.section-divider__logo-box {
  height: 20rem;
  background-color: blue;
  text-align: center;
}
.section-divider__logo {
  width: 23.5rem;
  transform: translateY(110%);
}
.section-divider--1 {
  background-color: #F4E04D;
}
.section-divider--2 {
  background-color: #123524;
}

/*# sourceMappingURL=style.css.map */
