//COLORS
$color-primary-light: #47953B;
$color-primary: #123524;
//$color-primary: #2F572C;
$color-primary-dark: #223921;

$color-secondary-light: #FEDF00;
//$color-secondary: #FEDF00;
//$color-secondary: #FFB300;
$color-secondary:#FFB700;
$color-secondary-dark: #FEDF00;

$color-tertiary-light: #2C3694;
$color-tertiary: #2A628F;
$color-tertiary-dark: #2C3694;

$color-grey-light-1: #F7F7F7;
$color-grey-light-2: #EEEEEE;

$color-grey-dark-1: #777777;
$color-grey-dark-2: #999999;
$color-grey-dark-3: #333333;

$color-white: #FFFAFA;
$color-white-pure: #FFFFFF;

$color-black: #17141F;
$color-black-pure: #000000;

$color-rdr: #b3064c;
//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
//$gutter-vertical: 8rem;
$gutter-vertical: 4rem;
//$gutter-horizontal: 6rem;
$gutter-horizontal: 3.5rem;