//COLORS
$color-primary-light: #2F572C;
$color-primary: #2F572C;
$color-primary-dark: #2F572C;

$color-secondary-light: #FEDF00;
$color-secondary: #FEDF00;
$color-secondary-dark: #FEDF00;

$color-tertiary: #2C3694;

$color-grey-light-1: #F7F7F7;
$color-grey-light-2: #EEEEEE;

$color-grey-dark-1: #777777;
$color-grey-dark-2: #999999;
$color-grey-dark-3: #333333;

$color-white: #FFFAFA;
$color-black: #17141F;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;