.contact-info {
    height: 60rem;
    background-image: linear-gradient(
        105deg,
        rgba($color-white, .9) 0%,
        rgba($color-white, .9) 50%,
        rgba(transparent, .5) 50%),
        url(../img/nat-5.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black-pure, .2);
    background-position: right bottom;
    padding: 4rem 6rem;

    &__left {
        width: 55%;
    }

    &__header {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2.5rem;
        color: $color-primary;
    }

    &__text {
        font-size: 2rem;
        color: $color-black-pure;
    }

    &__contact {
        margin-bottom: 1rem;
    }

    &__hour {
        &--main {
            font-size: 2.4rem;
            margin-top: 2rem;
            margin-bottom: .5rem;
        }

        &--sub {
            margin-bottom: 1rem;
        }
    }
}