.info-card {
    height: 60rem;

    @include postalBorder;

    box-shadow: 0 1rem 2rem rgba($color-black-pure, .15);
    padding: 1rem;

    &__content {
        height: 100%;
        background-color: $color-white-pure;
        padding: 3rem 0 0 5rem;
    }

    &--left {
        width: 50%;
        height: 100%;
        display: inline-block;
        vertical-align: top;
    }

    &--right {
        width: 49.5%;
        height: 100%;
        background-image: url(../img/nat-4.jpg);
        background-size: cover;
        background-position: center;
        display: inline-block;
    }

    &__heading {
        text-align: center;
        color: $color-black-pure;
        margin-bottom: 3rem;
    }
}

.info-text {
    &--main {
        border: solid 4px;
        border-radius: 6px;
        display: inline-block;
        font-size: 2.3rem;
        font-weight: 700;
        color: $color-black;
        line-height: 3rem;
        
        &--1 {
            border-color: $color-primary-light;
        }
        &--2 {
            border-color: $color-secondary-dark;
        }
        &--3 {
            border-color: $color-tertiary-dark;
        }
    }

    &--sub {
        font-size: 2rem;
        color: $color-black;
    }
    

    &:not(:last-child){
        margin-bottom: 3rem;
    }

}