.service-box {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 .5rem 2rem ;
    &__heading {
        padding: 10px 0;
        background-color: $color-tertiary;
    }

    &__picture {
        height: 30rem;
        background-image: url(../img/nat-3.jpg);
        background-size: cover;
        background-position: right;

    }
}