body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: $color-grey-dark-1;
}

.heading-primary {
    color: $color-white;
    text-shadow: 0px 0px 1rem;

    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 8rem;
        font-weight: 400;
        letter-spacing: .5rem;

        animation: moveInLeft 2s ease-out;
    }

    &--sub {
        text-transform: uppercase;
        display: block;
        font-size: 4rem;
        font-weight: 700;

        animation: moveInRight 2s ease-out;
    }
}

.heading-tertiary {
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
}

.paragraph {
    font-size: 1.8rem;
}