.section-about {
    background-color: $color-white-pure;
    padding: 20rem 0;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    
    &__content {
        background-color: $color-white-pure;
        border: 1px solid $color-primary;
        margin: auto;
        width: 50%;
        overflow: hidden;
        display: block;

        &--left {
            width: 49%;
            display: inline-block;
        }
    
        &--right {
            width: 49%;
            display: inline-block;
            transform: translateY(-20rem);
        }
    }

}

.section-services {
    background-color: $color-white-pure;
    padding: 20rem 0;

}

.section-coverage {
    background-color: $color-white-pure;
    padding: 20rem 0;

}

.section-divider {
    height: 20rem;
    
    &__logo-box {
        height: 20rem;
        background-color: blue;
        text-align: center;
        
    }

    &__logo {
        width: 23.5rem;
        transform: translateY(110%);
    }

    &--1 {
        background-color: $color-secondary;

    }

    &--2 {
        background-color: $color-primary;

    }
}

