.section-about {
    background-color: #161525;
    background-size: cover;
    padding: 17.5rem 0;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    
    &__content {
        
        background-color: $color-white-pure;
        border: 1px solid $color-primary;
        margin: auto;
        width: 50%;
        overflow: hidden;
        display: block;

        &--left {
            width: 49%;
            display: inline-block;
        }
    
        &--right {
            width: 49%;
            display: inline-block;
            transform: translateY(-20rem);
        }
    }

}

.section-services {
    background-color: $color-white-pure;
    padding: 15rem 0;

}

.section-coverage {
    
    background-color: #161525;
    padding: 12rem 0;

}

.section-divider {
    height: 20rem;
    
    &__logo-box {
        height: 20rem;
        text-align: center;
        
    }

    &__logo {
        width: 23.5rem;
        transform: translateY(110%);
    }

    &--1 {
        background-color: $color-secondary;

    }

    &--2 {
        background-color: $color-primary;

    }

}

.section-clip {
    width: 50%;
    transform: translate(50%, -30px);
    margin-top: 10rem;
    margin-bottom: 4rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black-pure, .8);

    &--1 {
        height: 2px;
        background-color: $color-primary;
    }

    &--2 {
        height: 1px;
        background-color: $color-secondary;
    }
}

.section-choice {
    height: 70rem;
    background-image: linear-gradient(
        to bottom,
        rgba($color-white-pure, 0.65) 0%,
        rgba($color-white-pure, 0.65) 50%,
        rgba($color-black-pure, 0.65) 50%,
        rgba($color-black-pure, 0.65) 100%),
        url(../img/nat-7.jpg);

    &__text {
        text-align: center;
        text-transform: uppercase;
        padding: 5rem 0
    }

    &__logo-box {
        margin-bottom: 10rem;
    }

}

.section-map {
    background-color: #161525;
    padding: 12rem 0;
}

.section-contact {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right,
        rgba(#161525, 0.85),
        rgba(#161525, 0.85)),
        url(../img/nat-5.jpg);
    background-size: cover;
    background-position: right bottom;
}

